@charset "UTF-8";
html, body, div, span, code, article, main { padding: 0; margin: 0; border: 0; outline: 0; line-height: inherit; vertical-align: baseline; font-family: inherit; font-size: 100%; box-sizing: border-box; }

body { color: #252525; font-size: 100%; line-height: 1.8; font-family: "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif; text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; letter-spacing: 0.03em; background-color: #FDFDFD; box-sizing: border-box; }
@media (max-width: 600px) { body { font-size: 80%; } }

h1, h2, h3, h4, h5, h6 { margin: 3.8rem 0 1.6rem 0; }

a:link { color: #333; text-decoration: underline; }

a:visited { color: #333; }

a:hover { color: #337ab7; text-decoration: underline; }

a:active { color: #333; }

html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

main { display: block; }

h1 { font-size: 2em; margin: 0.67em 0; }

hr { box-sizing: content-box; height: 0; overflow: visible; }

pre { font-family: monospace, monospace; font-size: 1em; }

a { background-color: transparent; }

abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }

b, strong { font-weight: bolder; }

code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

img { border-style: none; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; }

button, input { overflow: visible; }

button, select { text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

fieldset { padding: 0.35em 0.75em 0.625em; }

legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }

progress { vertical-align: baseline; }

textarea { overflow: auto; }

[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }

[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

details { display: block; }

summary { display: list-item; }

template { display: none; }

[hidden] { display: none; }

.l-wrapper { min-height: 100vh; display: flex; flex-direction: column; }

.l-footer { margin-top: auto; }

.l-main { overflow: hidden; padding: 0 1rem; margin: 0 auto; }

.l-container { margin: 0 auto; }

@media (max-width: 600px) { .l-container { width: 100%; } }
@media (min-width: 601px) and (max-width: 960px) { .l-container { max-width: 960px; } }
@media (min-width: 961px) { .l-container { max-width: 1100px; } }

.c-cards__container .c-cards { display: flex; flex-wrap: wrap; flex-direction: row; margin-right: -1rem; margin-bottom: -1rem; }
.c-cards__container .c-cards .c-card__container { display: flex; flex-direction: row; width: 100%; }
.c-cards__container .c-cards .c-card__container .c-card__box { display: flex; flex-direction: row; width: 100%; padding: 0 1rem 1rem 0; }
.c-cards__container .c-cards .c-card__container .c-card { width: 100%; }
@media (max-width: 600px) { .c-cards__container .c-cards--sp-2 .c-card__container { width: calc(100%/2); } }
@media (max-width: 600px) { .c-cards__container .c-cards--sp-3 .c-card__container { width: calc(100%/3); } }
@media (max-width: 600px) { .c-cards__container .c-cards--sp-4 .c-card__container { width: calc(100%/4); } }
@media (max-width: 600px) { .c-cards__container .c-cards--sp-5 .c-card__container { width: calc(100%/5); } }
@media (max-width: 600px) { .c-cards__container .c-cards--sp-6 .c-card__container { width: calc(100%/6); } }
@media (max-width: 600px) { .c-cards__container .c-cards--sp-7 .c-card__container { width: calc(100%/7); } }
@media (max-width: 600px) { .c-cards__container .c-cards--sp-8 .c-card__container { width: calc(100%/8); } }
@media (min-width: 601px) and (max-width: 960px) { .c-cards__container .c-cards--tab-2 .c-card__container { width: calc(100%/2); } }
@media (min-width: 601px) and (max-width: 960px) { .c-cards__container .c-cards--tab-3 .c-card__container { width: calc(100%/3); } }
@media (min-width: 601px) and (max-width: 960px) { .c-cards__container .c-cards--tab-4 .c-card__container { width: calc(100%/4); } }
@media (min-width: 601px) and (max-width: 960px) { .c-cards__container .c-cards--tab-5 .c-card__container { width: calc(100%/5); } }
@media (min-width: 601px) and (max-width: 960px) { .c-cards__container .c-cards--tab-6 .c-card__container { width: calc(100%/6); } }
@media (min-width: 601px) and (max-width: 960px) { .c-cards__container .c-cards--tab-7 .c-card__container { width: calc(100%/7); } }
@media (min-width: 601px) and (max-width: 960px) { .c-cards__container .c-cards--tab-8 .c-card__container { width: calc(100%/8); } }
@media (min-width: 961px) { .c-cards__container .c-cards--pc-2 .c-card__container { width: calc(100%/2); } }
@media (min-width: 961px) { .c-cards__container .c-cards--pc-3 .c-card__container { width: calc(100%/3); } }
@media (min-width: 961px) { .c-cards__container .c-cards--pc-4 .c-card__container { width: calc(100%/4); } }
@media (min-width: 961px) { .c-cards__container .c-cards--pc-5 .c-card__container { width: calc(100%/5); } }
@media (min-width: 961px) { .c-cards__container .c-cards--pc-6 .c-card__container { width: calc(100%/6); } }
@media (min-width: 961px) { .c-cards__container .c-cards--pc-7 .c-card__container { width: calc(100%/7); } }
@media (min-width: 961px) { .c-cards__container .c-cards--pc-8 .c-card__container { width: calc(100%/8); } }

ul.c-breadcrumbs { background-color: #fff; padding: 0.4rem; font-size: 90%; }
ul.c-breadcrumbs li { display: inline; }
ul.c-breadcrumbs li a:link { text-decoration: none; }
ul.c-breadcrumbs li:after { font-family: "Font Awesome 5 Free"; font-weight: 900; content: ""; padding: 0 3px 0 8px; color: silver; }
ul.c-breadcrumbs li:last-child:after { content: ""; }
@media (max-width: 600px) { ul.c-breadcrumbs ul.c-breadcrumbs { margin-bottom: 0px; } }

.c-tag-list { list-style: none; padding: 0; margin: 0; }
.c-tag-list li { display: inline-block; margin-right: 10px; }
.c-tag-list li a:before { font-family: "Font Awesome 5 Free"; content: ""; font-weight: 700; margin-right: 5px; }

.c-pager { list-style: none; text-align: center; padding: 0; }
.c-pager .c-pager__item, .c-pager .c-pager__item--current { display: inline-block; background-color: #ffffff; width: 50px; height: 50px; line-height: 50px; border-radius: 50%; text-align: center; }
.c-pager .c-pager__item a, .c-pager .c-pager__item--current a { display: inline-block; text-decoration: none; width: 100%; height: 100%; font-weight: 700; color: #333333; }
.c-pager .c-pager__item:hover, .c-pager .c-pager__item--current:hover { background-color: #aaaaaa; }
.c-pager .c-pager__item:hover a, .c-pager .c-pager__item--current:hover a { color: #ffffff; }
.c-pager .c-pager__item--current { background-color: #333333; }
.c-pager .c-pager__item--current a { color: #ffffff; }

.c-created-date-icon:before { font-family: "Font Awesome 5 Free"; content: ""; font-weight: 500; margin-right: 5px; }

.c-modified-date-icon:before { font-family: "Font Awesome 5 Free"; content: ""; font-weight: 700; margin-right: 5px; }

div.box-gray, div.box-black, div.box-dashed, div.box-red, div.box-blue, div.box-green { padding: 1rem; margin-top: 0rem; margin-bottom: 2rem; }
div.box-gray h3, div.box-black h3, div.box-dashed h3, div.box-red h3, div.box-blue h3, div.box-green h3, div.box-gray h4, div.box-black h4, div.box-dashed h4, div.box-red h4, div.box-blue h4, div.box-green h4, div.box-gray h5, div.box-black h5, div.box-dashed h5, div.box-red h5, div.box-blue h5, div.box-green h5 { margin: -1rem -1rem 1rem -1rem; border-radius: 0; border: none; padding: 0.2rem 0.2rem 0.2rem 1rem; }
div.box-gray p:last-child, div.box-black p:last-child, div.box-dashed p:last-child, div.box-red p:last-child, div.box-blue p:last-child, div.box-green p:last-child, div.box-gray ul:last-child, div.box-black ul:last-child, div.box-dashed ul:last-child, div.box-red ul:last-child, div.box-blue ul:last-child, div.box-green ul:last-child, div.box-gray ol:last-child, div.box-black ol:last-child, div.box-dashed ol:last-child, div.box-red ol:last-child, div.box-blue ol:last-child, div.box-green ol:last-child { margin-top: 0; margin-bottom: 0; }

div.box-gray { background-color: #fff; border: solid 1px #ddd; }
div.box-gray h3, div.box-gray h4, div.box-gray h5 { background-color: #ddd; color: #fff; }

div.box-black { background-color: #fff; border: solid 1px #252525; }
div.box-black h3, div.box-black h4, div.box-black h5 { background-color: #252525; color: #fff; }

div.box-dashed { background-color: #fff; border: dashed 1px #aaa; }

div.box-red { background-color: #FFF4F4; border: solid 1px #FFD1D1; }
div.box-red h3, div.box-red h4, div.box-red h5 { background-color: #FFD1D1; color: #E02121; }

div.box-blue { background-color: #E8F6FF; border: solid 1px #BAE4FF; }
div.box-blue h3, div.box-blue h4, div.box-blue h5 { background-color: #BAE4FF; color: #007FCE; }

div.box-green { background-color: #EAFFF1; border: solid 1px #A3E2B8; }
div.box-green h3, div.box-green h4, div.box-green h5 { background-color: #A3E2B8; color: #007C29; }

.exclamation:before, .check:before, .list:before, .pen:before, .heart:before, .info:before, .question:before { font-family: "Font Awesome 5 Free"; padding-right: 6px; margin-left: 6px; }

.exclamation:before { content: "\f071"; }

.check:before { content: "\f00c"; }

.list:before { content: "\f03a"; }

.pen:before { content: "\f304"; }

.heart:before { content: "\f004"; }

.info:before { content: "\f05a"; }

.question:before { content: "\f128"; }

.c-pre--filename { background-color: #364549; position: relative; margin: 0 0 2rem 0; }
.c-pre--filename__container { padding: 1rem; overflow-x: auto; }
.c-pre--filename__container pre { color: #d0d0d0; margin: 1rem 0; }
.c-pre--filename__container pre p { margin: 0; }
.c-pre--filename__label { display: inline-block; position: absolute; right: 0; padding: 0 0.5rem; background: #777D80; color: #fff; }

.c-pre--copy { background-color: #364549; position: relative; margin: 0 0 2rem 0; }
.c-pre--copy__container { padding: 1rem; overflow-x: auto; }
.c-pre--copy__container pre { color: #d0d0d0; margin: 1rem 0; }
.c-pre--copy__container pre p { margin: 0; }
.c-pre--copy__button { display: inline-block; position: absolute; right: 0; font-size: 80%; padding: 0 0.5rem; text-align: center; background: #66b7ec; color: #fff; cursor: pointer; font-weight: bold; }
.c-pre--copy__button:hover { background: #88CEFD; }

.p-header--home { color: #fff; background: linear-gradient(78deg, #232323, #464646); text-align: center; font-family: "Varela Round", sans-serif; font-weight: 800; padding: 20rem 0 18rem 0; }
.p-header--home a:link, .p-header--home a:visited, .p-header--home a:active, .p-header--home a:hover { color: #fff; text-decoration: none; }
@media (min-width: 601px) and (max-width: 960px) { .p-header--home { padding: 12rem 0 10rem 0; } }
@media (max-width: 600px) { .p-header--home { padding: 8rem 0 6rem 0; } }
.p-header--home__site-title { width: 330px; margin: auto; font-size: 230%; border-bottom: solid 2px #fff; letter-spacing: 0.12em; }
.p-header--home__site-title:before { font-family: "Font Awesome 5 Free"; content: ""; font-weight: 600; padding-right: 10px; }
@media (min-width: 601px) and (max-width: 960px) { .p-header--home__site-title { font-size: 210%; } }
@media (max-width: 600px) { .p-header--home__site-title { font-size: 180%; } }
.p-header--home__site-p { font-size: 90%; }

.p-header { color: #fff; background: linear-gradient(78deg, #232323, #464646); text-align: center; font-family: "Varela Round", sans-serif; font-weight: 800; padding: 0.4rem 0; }
.p-header a:link, .p-header a:visited, .p-header a:active, .p-header a:hover { color: #fff; text-decoration: none; }
.p-header__site-title { margin: auto; font-size: 100%; letter-spacing: 0.12em; }
.p-header__site-title:before { font-family: "Font Awesome 5 Free"; content: ""; font-weight: 600; padding-right: 6px; }

.p-container--single { max-width: 800px; }

.p-top, .p-top-about, .p-top-contents, .p-top-twitter, .p-top-news { padding: 1rem 0; text-align: center; }
.p-top h2, .p-top-about h2, .p-top-contents h2, .p-top-twitter h2, .p-top-news h2 { font-family: "Varela Round", sans-serif; font-weight: 800; font-size: 180%; margin: 1rem; }

.p-top-about { text-align: center; }

.p-top-contents { text-align: center; }

.p-top-twitter-wrapper { background-color: #00acee; }

.p-top-twitter { padding: 1rem 0 1.6rem 0; text-align: center; color: #fff; }
.p-top-twitter h4 { margin: 0 1rem 1rem 1rem; }
.p-top-twitter__follow { display: inline-block; background-color: #fff; padding: 0.2rem 1rem; border-radius: 4px; font-size: 80%; font-weight: 600; }
.p-top-twitter__follow:link, .p-top-twitter__follow:visited, .p-top-twitter__follow:active, .p-top-twitter__follow:hover { color: #00acee !important; text-decoration: none; }
.p-top-twitter__follow:before { font-family: "Font Awesome 5 Brands"; content: ""; padding-right: 8px; }

.p-top-news { text-align: center; margin-bottom: 2rem; }
.p-top-news ul { max-width: 500px; margin: auto; text-align: left; font-size: 90%; }

.p-footer { text-align: center; color: #fff; padding-bottom: 2rem; background: linear-gradient(78deg, #232323, #464646); }
.p-footer a { color: #fff; }
.p-footer__sitename { margin: 1rem 0; }
.p-footer__sitename:before { font-family: "Font Awesome 5 Free"; content: ""; font-weight: 600; padding-right: 6px; }
.p-footer ul { padding: 0; list-style: none; font-size: 80%; }
.p-footer ul li { display: inline-block; margin: 0 1rem; }

.p-cards__container { margin: 0rem 0.5rem 3rem 0.5rem; }
@media (min-width: 601px) and (max-width: 960px) { .p-cards__container { margin: 0rem 4rem 3rem; } }
@media (min-width: 961px) { .p-cards__container { margin: 0rem 6rem 3rem; } }

.p-cards { margin-right: -1rem !important; margin-bottom: -1rem !important; }
@media (min-width: 601px) and (max-width: 960px) { .p-cards { margin-right: -1rem !important; margin-bottom: -1rem !important; } }
@media (min-width: 961px) { .p-cards { margin-right: -1rem !important; margin-bottom: -1rem !important; } }
.p-cards .p-card { padding: 1rem; position: relative; }
.p-cards .p-card__link { display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; text-indent: 200%; white-space: nowrap; overflow: hidden; }
.p-cards .p-card:hover { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; background-color: #333; color: #fff; }
.p-cards .p-card:hover i { color: #333; background-color: #fff; }
.p-cards .p-card h4 { margin: 1rem 0; }
.p-cards .p-card i { font-size: 200%; color: #fff; background-color: #333; width: 100px; height: 100px; line-height: 300%; }
.p-cards .p-card p { font-size: 80%; }

.p-article { max-width: 900px; margin: 1rem auto; background-color: #fff; }
.p-article h2 { border-bottom: double 4px #333; }
.p-article__title { text-align: center; margin: 3.2rem 0; }
.p-article__date { padding: 0; list-style: none; text-align: center; font-size: 90%; color: #666; }
.p-article__date li { display: inline-block; }
.p-article__section { text-align: center; }
.p-article__section i { margin-right: 4px; }
.p-article__tags { text-align: center; }
.p-article__tags i { margin-right: 4px; }
.p-article__meta { margin: 1rem 0 2rem 0; }
.p-article__meta a:link { text-decoration: none; }
.p-article__meta a:hover { text-decoration: underline; }
.p-article__content { margin: 3rem 0; }
.p-article__content p { margin-top: 0; }
.p-article__feature-image img { width: calc(100% + 2rem); margin: 0 -1rem 0 -1rem; }
.p-article figure a img:hover { opacity: 0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; }

.p-article__content blockquote { position: relative; padding: 43px 15px 8px 15px; box-sizing: border-box; background: #f0f0f0; color: #555; }
@media (max-width: 600px) { .p-article__content blockquote { margin: 1rem 0; } }
.p-article__content blockquote:before { display: inline-block; position: absolute; top: 13px; left: 15px; vertical-align: middle; content: ""; font-family: "Font Awesome 5 Free"; color: #cfcfcf; font-size: 28px; line-height: 1; font-weight: 900; }
.p-article__content blockquote p { padding: 0; margin: 8px 0; }
.p-article__content blockquote cite { display: block; text-align: right; color: #888888; font-size: 0.9em; }
.p-article__content hr { margin: 2.4em 0rem 2.4em 0rem; border-top: 1px dashed #ddd; }
.p-article__content a:link { text-decoration: underline; }
.p-article__content a:hover { text-decoration: none; }
.p-article__content figure { margin: 1rem; }
.p-article__content figure img { max-width: 100%; }
.p-article__content figure.borderd { margin: 1rem; }
.p-article__content figure.borderd img { box-sizing: border-box; border: solid 1px #ddd; padding: 1em; }
.p-article__content p code { background: #364549; color: #e5e5e5; padding: 0.15em 0.3em 0.15em 0.3em; position: relative; font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace; font-size: 90%; letter-spacing: 0; }
.p-article__content pre code { display: block; overflow-x: scroll; padding: 1em; background: #364549; color: #d0d0d0; font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace; font-size: 90%; letter-spacing: 0; }

.p-list h1 { text-align: center; }

/*# sourceMappingURL=style.css.map */
